* {
  background: black;
  color: white;
}

html {
  min-height: 100%;
  margin: 0;

}

.nav {
  background: black;
  background-color: black;
  height: 50px;
}

div {
  background: linear-gradient(50deg, purple, white) fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-div {
  background: linear-gradient(50deg, purple, white) fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


.welcome-div {
  background: linear-gradient(50deg, purple, white) fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  
}

.finder-div {
  
  display: inline;
  text-align: center;
  text-shadow: rbga(0, 0, 0, .5) 2px 2px 1px; /* color, x pos, y pos, blur */
  background-color: black;
  height: 100%;
  border-radius: 20px;
  width: 250px;


}