* {
  background: black;
  color: white;
}

html {
  min-height: 100%;
  margin: 0;

}

.nav {
  background: black;
  background-color: black;
}

h2, h3, h4, h5, p {
  background: transparent;
  text-align: center;
}

button {
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
  padding-left: 49%;
  width: 50px;
  text-decoration: solid;
}


.home-div {
  margin: auto;
  width: 50%;
  height:50%;
  text-align: center;
  
}


.finder-div {
  
  display: inline;
  text-align: center;
  text-shadow: rbga(0, 0, 0, .5) 2px 2px 1px; /* color, x pos, y pos, blur */
  background-color: transparent;
  height: 100%;
  border-radius: 20px;
  width: 250px;
  margin: 0;


}